TimesheetReminder/bin/Debug/TimesheetReminder.exe
TimesheetReminder/bin/Debug/TimesheetReminder.pdb
TimesheetReminder/bin/Debug/TimesheetReminder.vshost.exe
TimesheetReminder/bin/Debug/TimesheetReminder.vshost.exe.manifest
TimesheetReminder/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimesheetReminder/obj/x86/Debug/TimesheetReminder.csproj.FileListAbsolute.txt
TimesheetReminder/obj/x86/Debug/TimesheetReminder.exe
TimesheetReminder/obj/x86/Debug/TimesheetReminder.pdb
TimesheetReminder/bin/Release/InstallUtil.InstallLog
TimesheetReminder/bin/Release/TimesheetReminder.exe
TimesheetReminder/bin/Release/TimesheetReminder.InstallLog
TimesheetReminder/bin/Release/TimesheetReminder.InstallState
TimesheetReminder/bin/Release/TimesheetReminder.pdb
TimesheetReminder/bin/Release/TimesheetReminder.vshost.exe
TimesheetReminder/bin/Release/TimesheetReminder.vshost.exe.manifest
TimesheetReminder/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
TimesheetReminder/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
TimesheetReminder/obj/x86/Release/TimesheetReminder.csproj.FileListAbsolute.txt
TimesheetReminder/obj/x86/Release/TimesheetReminder.csproj.GenerateResource.Cache
TimesheetReminder/obj/x86/Release/TimesheetReminder.exe
TimesheetReminder/obj/x86/Release/TimesheetReminder.pdb
TimesheetReminder/obj/x86/Release/TimesheetReminder.ProjectInstaller.resources
