TimesheetReminder/bin/Debug/TimesheetReminder.exe
TimesheetReminder/bin/Debug/TimesheetReminder.pdb
TimesheetReminder/bin/Debug/TimesheetReminder.vshost.exe
TimesheetReminder/bin/Debug/TimesheetReminder.vshost.exe.manifest
TimesheetReminder/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimesheetReminder/obj/x86/Debug/TimesheetReminder.csproj.FileListAbsolute.txt
TimesheetReminder/obj/x86/Debug/TimesheetReminder.exe
TimesheetReminder/obj/x86/Debug/TimesheetReminder.pdb
