<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Mail configuration-->
    <add key="address" value="smtp.googlemail.com"></add>
    <add key="port" value="587"></add>
    <add key="user" value="test"></add>
    <add key="pass" value="test"></add>
    <add key="ssl" value="true"></add>
    <add key="sender" value="test@gmail.com"></add>
    <!--Reminder settings-->
    <add key="hour" value="16:00"></add>
    <add key="recipients" value="test@tlen.pl"/>
    <add key="page" value="http://hotgirls07.tumblr.com"/>
    <add key="subject" value="Czas wypełnić timesheet!"/>
    <add key="body" value="Czas wypełnić timesheet!"/>
    <!--Logging-->
    <add key="log" value="true"/>
  </appSettings>
</configuration>
