<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Mail configuration-->
    <add key="address" value="smtp.googlemail.com"></add>
    <add key="port" value="587"></add>
    <add key="user" value="tt"></add>
    <add key="pass" value="tt"></add>
    <add key="ssl" value="true"></add>
    <add key="sender" value="tt@gmail.com"></add>
    <!--Reminder settings-->
    <add key="hour" value="20:40:00"></add>
    <add key="recipients" value="tt@tlen.pl;tt@mixbox.pl"/>
    <!--Logging-->
    <add key="log" value="true"/>
  </appSettings>
</configuration>
